USE [master]
GO
/****** Object:  Database [Gokkee]    Script Date: 12.09.2022 11:17:40 ******/
CREATE DATABASE [Gokkee]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gokkee', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Gokkee.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gokkee_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Gokkee_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gokkee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gokkee]
GO
/****** Object:  Table [dbo].[Group]    Script Date: 12.09.2022 11:17:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Group](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NameGroup] [nvarchar](20) NOT NULL,
	[Specialization] [nvarchar](max) NULL,
 CONSTRAINT [PK_Group] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 12.09.2022 11:17:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[Age] [int] NULL,
	[IDGroup] [int] NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Group] ON 

INSERT [dbo].[Group] ([ID], [NameGroup], [Specialization]) VALUES (1, N'ИСП.20А', N'программист')
INSERT [dbo].[Group] ([ID], [NameGroup], [Specialization]) VALUES (2, N'ТМ.19А', N'механик')
INSERT [dbo].[Group] ([ID], [NameGroup], [Specialization]) VALUES (3, N'ССА.21А', N'СисАдмин')
SET IDENTITY_INSERT [dbo].[Group] OFF
GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([ID], [LastName], [FirstName], [Age], [IDGroup]) VALUES (1, N'Каширин', N'Артём', 7, 3)
INSERT [dbo].[Person] ([ID], [LastName], [FirstName], [Age], [IDGroup]) VALUES (2, N'Немтырёва', N'Ксения', 64, 1)
INSERT [dbo].[Person] ([ID], [LastName], [FirstName], [Age], [IDGroup]) VALUES (3, N'Кузнецов', N'Артём', 18, 3)
SET IDENTITY_INSERT [dbo].[Person] OFF
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_Group] FOREIGN KEY([IDGroup])
REFERENCES [dbo].[Group] ([ID])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_Group]
GO
USE [master]
GO
